 body{
    margin:0;
    padding:0;
    font-family:Arial,sans-serif;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    color:skyblue;
   }
  .calculator
  {
    width:auto;
    height:auto;
    background-color:black;
    border-radius:auto;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    border:1px solid #fff;
  }
  .display
  {
    width:auto;
    height:auto;
    text-align:right;
    font-size:24px;
    border-spacing:border-box;
    border:none;
    padding:10px;
    border-radius:auto;
    margin-bottom:20px;
  }
  .buttons
  {
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
    padding:5px;
  }
  .button{
    height:auto;
    font-size:60px;
    border:circle;
    border-block-color:initial;
    cursor:pointer;
    transition:background-color 0.1s;
 }
  .button:hover{
    background-color:yellow;
   }
  #equals
  {
    background-color:green;
    grid-column:span 1;
    }
  #equals:hover{
    background-color:red;
    }
  #zero{
    grid-column:span 1;
  }
  .btn {
  background: linear-gradient(to bottom,grey,black);
  border: none;
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius:50%;
  }
  .operator,.add,.sub,.mul,.percent,.equals
  {
    background:greyblack;
  }

   